.column {
    width: 20px;
    height: 20px;



    background-color: white;
    border: 1px solid gray;

}

.row {


    display: flex;



}
/*
.outer{
    align-items: center;
    display: flex;
    flex-direction:column;

}

.inner{


    align-items: center;
    display: flex;
    flex-direction:column;
}

.row{



}*/

.cir_outer {

    height: 35px;
    width: 35px;

    background-color: white;
    border: 2px solid gray;
    border-radius: 50%;
}

.parentDiv {
    display: flex;
    flex-direction: row;

}